---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;

const dateOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const publishDate = new Date(frontmatter.date).toLocaleDateString(
  "en-US",
  dateOptions,
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="The personal website of William Wingate"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/mallard.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body class="flex h-screen flex-col bg-slate-50 text-slate-950">
    <Header />
    <main class="container mx-auto max-w-screen-lg px-4">
      <article class="prose prose-slate mx-auto mb-8 mt-24">
        <h1>{frontmatter.title}</h1>
        <p class="italic">
          Written by {frontmatter.author} on {publishDate}
        </p>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
